<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="http://www.railstutorial.org/contact">contact page</a>.
</p>

<!--
using <'% ... %> that Rails should call the provide function and associate the string "Home" with the label :title.
we use the closely related notation <'%= ... %> to insert the title into the template using Ruby’s yield function
-->