<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %> <!-- variable passing for form button on sign up page-->
<% provide (:url_action), signup_path%> <!--variable passing for _form partial to change action path to /signup -->
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>

<!--
using <'% ... %> that Rails should call the provide function and associate the string "Home" with the label :title.
we use the closely related notation <'%= ... %> to insert the title into the template using Ruby’s yield function
-->